<mat-card-title>Settings</mat-card-title>
<form [formGroup]="settingsForm">
    <div class="form-element">
        <mat-slide-toggle formControlName="notifications">Notifications</mat-slide-toggle>
    </div>
    <div class="form-element">
        <mat-slide-toggle formControlName="autoUpdate">Auto update</mat-slide-toggle>
    </div>
    <mat-form-field>
        <input matInput placeholder="Recovery email" formControlName="recoveryEmail" type="email" required>
        <mat-error [hidden]="settingsForm.controls.recoveryEmail.valid">
            <strong>Not a valid email</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Security question" formControlName="securityQuestion" type="text">
        <mat-error [hidden]="settingsForm.controls.securityQuestion.valid">
            <strong>Not a valid email</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="timeZone" placeholder="Time zone">
            <mat-option value="0">0</mat-option>
            <mat-option value="1">+1</mat-option>
            <mat-option value="2">+2</mat-option>
            <mat-option value="3">+3</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="languange" placeholder="Languange">
            <mat-option value="English">English</mat-option>
            <mat-option value="Dutch">Dutch</mat-option>
            <mat-option value="German">German</mat-option>
        </mat-select>
    </mat-form-field>
</form>