.device-item-panel {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

mat-list {
  width: 100%
}

mat-list-item {
  

  span {
    text-align: right !important;
    float: right;
    width: 100%;
  }
}
