@import '../variables';

body {
  margin: 0;
}

main {
  margin: 30px;
}

mat-drawer {
  background-color: $dark-grey;
}

mat-nav-list mat-icon {
    color: $light-grey;
}
.title{
  font-weight: 900;
}

.user-menu {
  width: 100%;
  text-align: right;
}

