<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{label.id}} </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{label.type}} </th>
            <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>

        <!-- Risk level Column -->
        <ng-container matColumnDef="riskLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{label.riskLevel}} </th>
            <td mat-cell *matCellDef="let row"> {{row.riskLevel}} </td>
        </ng-container>

        <!-- Last seen Column -->
        <ng-container matColumnDef="lastSeen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{label.lastSeen}} </th>
            <td mat-cell *matCellDef="let row"> {{row.lastSeen | date: 'hh:mm:ss dd/MM/yyyy' }} </td>
        </ng-container>

        <!-- Details link Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary"  matTooltip="{{label.details}}" color="accent" (click)="linkToDetails(row)">
                    <mat-icon>launch</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>