<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
        placeholder="Filter on ID, type, Risk level or last seen date">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{label.id}} </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{label.type}} </th>
            <td mat-cell *matCellDef="let row" matTooltip="{{row.type}}">
                <mat-icon color="accent" *ngIf="row.type === 'Android'">android</mat-icon>
                <mat-icon color="accent" *ngIf="row.type === 'iOS'" svgIcon="apple-ios"></mat-icon>
                <mat-icon color="accent" *ngIf="row.type === 'PC'">computer</mat-icon>
            </td>
        </ng-container>

        <!-- Risk level Column -->
        <ng-container matColumnDef="riskLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{label.riskLevel}} </th>
            <td mat-cell *matCellDef="let row" 
            [ngClass]="(row.riskLevel <= 30)? 'low-risk': (row.riskLevel > 30 && row.riskLevel <= 60) ? 'medium-risk' : 'high-risk'"> {{row.riskLevel}} </td>
        </ng-container>

        <!-- Last seen Column -->
        <ng-container matColumnDef="lastSeen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{label.lastSeen}} </th>
            <td mat-cell *matCellDef="let row"> {{row.lastSeen | date: 'hh:mm:ss dd/MM/yyyy' }} </td>
        </ng-container>

        <!-- Details link Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" matTooltip="{{label.details}}" color="accent"
                    (click)="linkToDetails(row)">
                    <mat-icon>launch</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>