@import '../../../variables';

table,
.mat-form-field {
  width: 100%;
}

::ng-deep .mat-cell:last-of-type {
  text-align: right;
}

.low-risk {
  color: $green;
}

.medium-risk {
  color: $orange;
}

.high-risk {
  color: $red;
}
