/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Include non-theme styles for core.
@include mat-core();

// Include non-theme styles for core.
@include mat-core();

$mat-custom-primary: (50 : #e5e8e9,
  100 : #bdc5c7,
  200 : #919ea2,
  300 : #65777d,
  400 : #445961,
  500 : #233c45,
  600 : #1f363e,
  700 : #1a2e36,
  800 : #15272e,
  900 : #0c1a1f,
  A100 : #5fd1ff,
  A200 : #2cc3ff,
  A400 : #00b1f8,
  A700 : #009fdf,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  ));

$mat-custom-accent: (50 : #f3f9e8,
  100 : #e1efc5,
  200 : #cde59e,
  300 : #b8da77,
  400 : #a9d259,
  500 : #9aca3c,
  600 : #92c536,
  700 : #88bd2e,
  800 : #7eb727,
  900 : #6cab1a,
  A100 : #f1ffe0,
  A200 : #daffad,
  A400 : #c2ff7a,
  A700 : #b6ff61,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$mat-custom-warn: (50 : #fef3e4,
  100 : #fde1bb,
  200 : #fccd8e,
  300 : #fab860,
  400 : #f9a93e,
  500 : #f89a1c,
  600 : #f79219,
  700 : #f68814,
  800 : #f57e11,
  900 : #f36c09,
  A100 : #ffffff,
  A200 : #fff1e9,
  A400 : #ffd2b6,
  A700 : #ffc29c,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$mat-custom-warning: (50 : #fdebe4,
  100 : #fbcdbd,
  200 : #f8ab91,
  300 : #f58964,
  400 : #f37043,
  500 : #f15722,
  600 : #ef4f1e,
  700 : #ed4619,
  800 : #eb3c14,
  900 : #e72c0c,
  A100 : #ffffff,
  A200 : #ffe2de,
  A400 : #ffb4ab,
  A700 : #ff9e91,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$mat-custom-foreground: (50 : #f6f0f3,
  100 : #e8d8e2,
  200 : #d9bfcf,
  300 : #c9a5bc,
  400 : #be91ad,
  500 : #b27e9f,
  600 : #ab7697,
  700 : #a26b8d,
  800 : #996183,
  900 : #8a4e72,
  A100 : #ffebf7,
  A200 : #ffb8e2,
  A400 : #ff85ce,
  A700 : #ff6bc3,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));



$mat-custom-background: (50 : #e9ecf5,
  100 : #c7d0e6,
  200 : #a2b1d6,
  300 : #7d92c6,
  400 : #617ab9,
  500 : #4563ad,
  600 : #3e5ba6,
  700 : #36519c,
  800 : #2e4793,
  900 : #1f3583,
  A100 : #bfccff,
  A200 : #8ca3ff,
  A400 : #597bff,
  A700 : #4066ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

// Define a theme.
$primary: mat-palette($mat-custom-primary);
$accent: mat-palette($mat-custom-accent);
// $warn: mat-palete($mat-custom-warn);
$warning: mat-palette($mat-custom-warning);
$foreground: mat-palette($mat-custom-foreground);
$background: mat-palette($mat-custom-background);

$theme: mat-light-theme($primary, $accent, $warning);


// Include all theme styles for the components.
@include angular-material-theme($theme);


// shared styling
mat-spinner {
  margin: auto;
  top: 100px;
}
